*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    max-width: 100%;
}

.btn{
    padding: 5px;
    width: 100px;
    background-color: green;
    color: white;
    border-radius: 10px;
} 

.bodybg{
    background-color: rgb(0, 0, 0);
}